*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  border-radius: 5px;
  outline: none; /* Removes the default orange outline */
  border: 1px solid #0ea84c; /* Adds a green border on focus */
}
input{
  border: 1px solid #ebedef;
}


input[type="checkbox"]:checked{
  background-color: #0ea84c;
  color: #0ea84c;
}
/* .nav{
  background: black;
  height: 80px;
} */
